<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <li class="nav-header">Trends</li>
        <li class="active"><a href="#">Trend 1</a></li>
        <li><a href="#">Trend 2</a></li>
        <li><a href="#">Trend 3</a></li>
        <li><a href="#">Trend 4</a></li>
        <li><a href="#">Trend 5</a></li>
        <li><a href="#">Trend 6</a></li>
        <li><a href="#">Trend 7</a></li>
        <li><a href="#">Trend 8</a></li>
        <li><a href="#">Trend 9</a></li>
        <li><a href="#">Trend 10</a></li>
    </ul>
</div>